*{
  margin:0px;
  padding:0px;
  list-style:none;
  text-decoration:none;
  outline:0px;
  color: black;
}

#accordion .quo{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 20px;
    border: none;
    text-align: left;
    font-size: 20px;
    transition: 0.4s;
	margin:20px auto;
	width: 80%;
	box-shadow: 0px 0px 15px #ffffff;
}
.faq_wrapper{
	background-image: url("../assets/bg_faq.jpg");
	background-size:100% 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
	filter: blur(5px);
}
.quo.active, .quo:hover {
    background-color: #ddd;
}

.ans {
	margin:20px;
    padding: 0px 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	font-size: 20px;
	line-height: 30px;
	margin:20px auto;
	width: 80%;
	box-shadow: 0px 0px 15px #ffffff;
}
.ans p{
	margin: 15px;
}