*{
  margin:0px;
  padding:0px;
  list-style:none;
  text-decoration:none;
  outline:0px;
  color: #fff;
}
body{
  overflow: hidden;
}
button,h1{
  background:transparent;
  border:none;
  text-align:center;
}
.owl-nav .fa:before{
  font-size: 25px;
}
.list-group-item .fa:before{
  font-size: 30px;
  margin: 10px;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.blured{
  filter: blur(5px);
}
.action{
  margin:10px;
  border: 1px solid #fff;
  padding : 10px;
  cursor:pointer;
}
.welcome_audio_wrapper {
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 35px;
  box-shadow: 0px 0px 16px black;
  border-radius: 15px;
  z-index: 1;
  margin: 10px;
}
.welcome_audio_wrapper audio{
    margin-left: -207px;
    cursor: pointer;
}
.welcome{
  width:100%;
  background-color:rgba(0, 0, 0, 0.5);
  top:0px;
  left: 0px;
  height: 100%;
  z-index: 999;
}
.welcome__close
{
  right:0px;
  margin:20px;
  border: 2px solid #fff;
  border-radius: 30%;
}
.welcome__close:before{
  color: #fff;
  font-size: 15px;
}
.welcome__close,.welcome
{
  position: absolute;
}
.welcome__header{
  width: 100%;
  padding:30px 0px;
}
.welcome__section
{
    width: 830px;
    margin: auto;
    box-shadow: 0px 0px 50px black;
}
.welcome__footer
{
  width: 100%;
  padding:30px 0px;
  text-align: center;
}
.welcome__button{
  width: 100px;
}
.container__logo{
  height:70px;
  width:400px;
  margin:auto;
}
.container__header{
  position: absolute;
  z-index:2;
  width: 100%;
  padding:20px 0px;
}
.container__footer{
  position: relative;
  top: -50px;
  z-index: 1;
}
.container__social-media{
  transition: all 0.5s ease;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
  width: 40px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  padding: 6px 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.container__social-media .action{
  margin: 0px;
  border: 0px;
}
.slide-left {
  transition: all 0.5s ease;
  width: 220px;
}
.container__navbar{
  transition: all 1s ease;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-image: url("../assets/img1.jpg");
  background-size: cover;
}
.container__navbar_list{
  display: flex;
  justify-content: space-around;
  margin: 0px 25%;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}
.caption{
    font-family: "GreatVibes";
    top: 30%;
    position: relative;
    font-size: 80px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px black;
}
.mobile{
  display: block;
}
.mobile li{
  text-align: center;
  padding: 10px;
  transition: border 1.5s ease;
  border-bottom: 1px solid #fff;
}
.mobile li:last-child{
  border-bottom: 0px;
}
.mobile li a{
  font-family: "GreatVibes";
  font-size: 40px;
  /*font-weight: bold;*/
}
.mobile li:first-child{
  margin-top: 10vh;
}
.container__header .fa-bars,.container__header .fa-times{
  border: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  font-size: 25px;
}
.collapsed{
  overflow: hidden;
  max-height: 0;
}
.expanded{
  max-height: 100vh;
}
.list-group-item{
  font-size:20px;
}
.owl-carousel .owl-item {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.input_container{
  border: 2px solid rgba(199, 199, 199, 0.5);
  padding: 5px;
  padding-right: 10px;
  border-radius: 5px;
  transition: all .2s ease;
  width: 580px;
  border-top-right-radius: 10% 80%;
  border-bottom-right-radius: 10% 80%;
  margin-bottom: 19px;
  margin: auto;
}
input,
input:focus,
input:visited,
input:hover
{
  border: 0px;
  outline: none;
  font-size: 30px;
  width: 500px;
  margin: 5px 6px;
  vertical-align: sub;
  color: #5a5a5a;
  padding: 5px;
  font-family: "Mogra";
}
#searchbtn{
  padding: 12px;
  background: #ccc;
  width: 17px;
  text-align: center;
  color: black;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
}
.result{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  height: 85%;
  overflow-y: auto;
  font-family: sans-serif;
}
.item{
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  margin:0px 5px 20px 0px;
  border-radius:5px;
  box-shadow:0px 2px 6px rgba(0,0,0,.3);
  position:relative;
  width: 220px;
  overflow-y: auto;
  height: 400px;
}
.item__footer a{
  text-decoration:none;
  display:block;
  padding:10px;
  color:#404040;
  cursor:pointer;
}
.item__footer{
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: 0.3;
  background:#ccc;
}
.item__footer:hover{
  opacity: 0.60;
  background:#000;
  color:#fff;
  transition: all ease;
}
.item__content{
  overflow-y: auto;
  min-height: 225px;
}
.item__header,.item__content{
  padding:10px;
}
.search_bar{
  position: absolute;
  left: 50%;
  top: 55%;
  bottom: 0px;
  transform: translate(-50%,-50%);
  z-index: 1;
  margin: 0px auto;
  width: 80%;
  height: 80%;
  overflow-y: hidden;
}
